/**
 * /* Layout
 *
 * @format
 */

.main {
	display: flex;
	padding: 2em;
	height: 90vh;
	justify-content: center;
	align-items: middle;
}

.clockbox,
#clock {
	width: 100%;
}

/* Clock styles */
.circle {
	fill: none;
	stroke: skyblue;
	stroke-width: 9;
	stroke-miterlimit: 10;
}

.mid-circle {
	fill: #000;
}
.hour-marks {
	fill: none;
	stroke: rgb(73, 70, 88);
	stroke-width: 9;
	stroke-miterlimit: 4;
}

.hour-arm {
	fill: none;
	stroke: red;
	stroke-width: 17;
	stroke-miterlimit: 10;
}

.minute-arm {
	fill: none;
	stroke: yellow;
	stroke-width: 11;
	stroke-miterlimit: 10;
}

.second-arm {
	fill: none;
	stroke: steelblue;
	stroke-width: 4;
	stroke-miterlimit: 10;
}

/* Transparent box ensuring arms center properly. */
.sizing-box {
	fill: none;
}

/* Make all arms rotate around the same center point. */
/* Optional: Use transition for animation. */
#hour,
#minute,
#second {
	transform-origin: 300px 300px;
	/* transition: transform 0.5s ease-in-out; */
}
